# Standard Flutter ignore patterns
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication logging
pill-*.symbolication.json

# Projects
.project
.settings/
.vscode/
.idea/
.artifacts/

# OS-specific files
.DS_Store
Thumbs.db

# Android-specific
android/**/generated/
android/app/google-services.json # If you want to keep Firebase config private, but usually shared in small projects

# Local configuration
.env
drive_app_dart.iml
DriveApp_Dart.iml
android/drive_app_dart_android.iml
